/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font, "IBM Plex Mono"), sans-serif;
  font-weight: 700;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 375px;
  padding: var(--page-gap);
  color: var(--text-color);
  font-family: var(--main-font, "IBM Plex Mono"), sans-serif;
  font-weight: 400;
  font-size: var(--text-size);
  line-height: 23.4px;
  background-color: var(--accent-color-text);
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-auto-rows: 1fr min-content 1fr;
  align-items: center;
  height: min(100vh, 668px);
  padding: 10px 0;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--nav-color);
  border-right: 1px solid var(--nav-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--nav-color);
  border-left: 1px solid var(--nav-color);
}

.theme_dark .rec {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  font-family: inherit;
  font-size: 18px;
  line-height: 25px;
}

.theme_dark .rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  color: var(--nav-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  border: none;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  min-inline-size: 70px;
  min-block-size: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
  pointer-events: none;
}

.title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.subtitle {
  padding: 10px 0;
}

.section {
  width: 100%;
}

.text {
  padding-bottom: 10px;
  color: currentColor;
  font-family: inherit;
}

.text-links {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-links:hover {
  border-bottom: 2px solid var(--text-color);
}

.text-links:focus {
  outline: none;
}

.text-links:focus-visible {
  outline: 1px solid var(--text-color);
}

.section__title {
  padding-top: 40px;
  padding-bottom: 10px;
  color: var(--subtitle-color);
  font-family: inherit;
  font-size: var(--text-size);
}

.title-decor {
  color: var(--subtitle-accent-color);
  background-color: var(--accent-color);
  background-clip: content-box;
}

.images {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__title-images {
  padding-top: 38px;
  padding-bottom: 10px;
}

.section__images-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 40px;
  min-block-size: 668px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* Брекпоинт для разрешения 768px */
/* Стили для шапки сайта */
@media (width >= 768px) {
  .page {
    max-width: 768px;
    padding: 0;
  }

  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
    height: min(100vh, 1024px);
    padding: 20px 20px 20px 0;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
    align-self: center;
  }

  .header__title {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-self: flex-start;
  }

  .header__subtitle {
    grid-column: 2 / 3;
    align-self: center;
    padding-left: 11px;
  }

  .theme_dark .rec {
    top: 20px;
    right: 29px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* Стили для первой секции главного контента */
@media (width >= 768px) {
  .main {
    padding: var(--page-gap);
  }

  .section__content-concentration {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-top: 60px;
  }

  .section__title {
    padding: 0;
    inline-size: 236px;
  }

  .content-concentration-text h4:first-of-type {
    padding-top: 0;
  }
}

/* Стили для второй секции главного контекта */
@media (width >= 768px) {
  .section__content-attention {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding-top: 70px;
  }
}

/* Стили для третьей секции глаыного контента */
@media (width >= 768px) {
  .section__five-advices {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-block-start: 70px;
  }

  .section__five-advices h4:nth-of-type(1) {
    padding-block-start: 0;
  }
}

/* Стили для секции с фото */
@media (width >= 768px) {
  .section__images-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section__title-images {
    padding-top: 69px;
    padding-bottom: 20px;
  }

  .imade-sunset {
    grid-column: 1 / 3;
  }

  .image-ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .image-tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .image-street {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}

/* Стлили для футера */
@media (width >= 768px) {
  .footer {
    margin-top: 60px;
    min-block-size: 1024px;
  }
}

/* Брекпоинт для разрешения 1024px */
/* Стили для шапки сайта */
@media (width >= 1024px) {
  .page {
    max-width: 1024px;
  }

  .header {
    height: min(100vh, 768px);
  }

  .header__theme-menu {
    grid-column: 1 / 3;
    justify-self: center;
    align-self: self-start;
    padding-left: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

/* Стили для первой секции главного контента */
@media (width >= 1024px) {
  .section__content-concentration {
    gap: 10px;
  }

  .section__title {
    inline-size: 315px;
  }

  .section__content-attention {
    display: flex;
    flex-direction: column;
  }

  .content-attention-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .section__five-advices {
    gap: 10px;
  }
}

/* Стлили для футера */
@media (width >= 1024px) {
  .footer {
    min-block-size: 768px;
  }
}
